@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@font-face {
    font-family: 'Minecraftia';
    src: url('font/Minecraftia-Regular.ttf') format('truetype');

}

.aboutme img{
    border-radius: 50%;
    height: 200px    ;
    margin-left: 20px;
    border-color: blue;
    border-style: ridge;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Minecraftia', sans-serif;
}   
.aboutme{
    border-style: ridge;
    border-color: blue;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url(img/image.jpg);
    background-repeat: no-repeat;
}

.aboutme h3{
    margin-left: 20px;
    font-family: 'Minecraftia', sans-serif; 
}
.aboutme p{
    margin-left: 20px;
    font-family: 'Minecraftia', sans-serif;
}
li{
    font-size: 20px;
}

h2{
    margin-left: 20px;
    text-align: center;
}
h1{
    margin-left: 20px;
    text-align: center;
}

hr{
    border-color: blue;
}

